<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="ConsoleApp1.StudentServiceManager">
        <endpoint address="net.tcp://localhost:8009/GeoService"
                  binding="netTcpBinding"
                  contract="ConsoleApp1.IStudentService">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>